.faq-container { 
  background-color: #8AC9FE80;
  border-radius: 80px;
  padding: 14px 22px;
  gap: 36px;
  max-width: 1095px;
  width: 100%;
  background-image: linear-gradient(270deg, #8AC9FE, #85C3BD);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 50px auto; /* Dynamic spacing from surrounding elements */
  position: relative; /* Keeps it in the document flow */
  clear: both; /* Ensure it clears floated content above */
}

.faq-title {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  margin-bottom: 30px;
}

.faq-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.faq-column {
  width: 45%;
  margin-bottom: 20px;
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

.faq-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.faq-column p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.faq-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-column ul li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .faq-column {
    width: 100%;
  }
}

.faq-section h3 {
  cursor: pointer;
  padding: 10px;
  background-color: #8AC9FE80;
<<<<<<< HEAD
  border: solid 1px black;
=======
  border:solid 1px #8AC9FE80;
>>>>>>> 6a0c7176d8d200146d12c111c4a13c7ba0b6eeea
  margin: 0;
  font-size: 1.2rem;
}

.panel {
  display: none; /* Hidden by default */
  padding: 10px;
  background-color: #8AC9FE80;
  border: solid 1px #8AC9FE80;
  border-top: none;
  overflow: hidden;
}

.panel ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
}

/* Ensure enough spacing between sections */
.section-above {
  margin-bottom: 50px; /* Add space below the previous section */
}

.faq-container {
  margin-top: 500px; 
}
