.faq-container {
  background-color: #8AC9FE80;
  border-radius: 80px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
  gap: 36px;
  max-width: 1095px;
  width: 100%;
  background-image: linear-gradient(270deg, #8AC9FE, #85C3BD);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 50px;
}

.faq-title {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  margin-bottom: 30px;
}

.faq-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.faq-column {
  width: 45%;
  margin-bottom: 20px;
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
}

.faq-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.faq-column p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.faq-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-column ul li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .faq-column {
    width: 100%;
  }
}

.faq-section h3 {
  cursor: pointer;
  padding: 10px;
  background-color: #8AC9FE80;
  border:solid 1px black;
  margin: 0;
  font-size: 1.2rem;
}

.panel {
  display: none; /* Hidden by default */
  padding: 10px;
  background-color: #8AC9FE80;
  border: solid 1px black;
  border-top: none;
  overflow: hidden;
}

.faq-column {
  margin-bottom: 15px;
}

.panel ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 20px;
}
