body {
    font-family: 'R0boto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
}

h1 {

    color: #343a40;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}

label {
    margin: 5px 0;
    font-weight: 500;
    font-size: 1.1em;
    color: #495057;
}

input, select {
    padding: 10px;
    border: 2px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 1em;
    background-color: #e9ecef;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #eff70d;
}

button {
    padding: 12px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 8px;
    background-color: #fbff00;
    color: rgb(20, 11, 11);
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #09ef4e;
}

.remove-btn {
    margin-top: 10px;
    color: #040e1c;
    background-color: #00fe2f;
}

.remove-btn:hover {
    color: #050303;
    background-color: #eb204c;
}

#result {
    margin-top: 30px;
    font-size: 1.2em;
    color: #495057;
}